:root {
  --main-brand: #C94A18;
  --main-brand-darkened: #A33B14;
  --secondary-brand: #008578;
  --secondary-brand-darkened: #00786C;

  --main-text: #3A3A3A;
  --main-text-lighted: #6A6A6A;
  --secondary-text: #FFFFFF;

  --background: #FFFFFF;
  --background-shaded: #ECEEEF;
  --border: #DADADA;
}

.yasqe_buttons {
  display: none;
}

body {
  font-size: 1rem;
  font-weight: normal;
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--main-text);
  letter-spacing: normal;
  background: var(--background);
  margin: 0;
  min-height: 100vh;
}

ul {
  margin: 0
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: .7em;
}

p {
  margin: 0;
}

a {
  display: inline-block;
  color: var(--main-brand);
  text-decoration: underline;
  cursor: pointer;
  transition: all .4s;
  line-height: 1.5;
  text-decoration-color: transparent;
}

a:active,
a:hover {
  color: var(--main-brand-darkened);
  border-color: var(--main-brand-darkened);
}

button,
input,
select {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  background: var(--background);
}

.thor-button {
  cursor: pointer;
  color: var(--secondary-text);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  padding: .75rem;
  border-radius: 2px;
  font-family: 'Source Sans Pro',sans-serif;
  transition: background-color,border-color .4s;
  box-sizing: border-box;
  min-width: 6.25rem;
  letter-spacing: .2px;
  border: none;
}

.thor-button-confirm {
  background-color: var(--secondary-brand-darkened);
  border-color: var(--secondary-brand-darkened);
}

.thor-button-confirm:hover,
.thor-button-confirm:active,
.thor-button-confirm:focus {
  background-color: var(--secondary-brand);
  border-color: var(--secondary-brand);
}

.thor-nav {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: var(--background);
}

.thor-nav ul {
  padding: 0;
  float: right;
}

.thor-nav li {
  list-style: none;
  display: block;
  float: right;
  line-height: 50px;
  text-transform: uppercase;
}

.thor-nav a {
  text-decoration: none;
  color: var(--main-text-lighted);
  margin-left: .5rem;
  margin-right: .5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-bottom: 4px;
}

.thor-nav a:hover,
.thor-nav a:focus,
.thor-nav a:active,
.thor-nav a.current {
  border-bottom: 2px solid var(--main-brand);
}

.thor-nav img {
  height: 50px;
}

.thor-input {
  display: block;
  width: 100%;
  padding: .75rem;
  border-width: 1px;
  border-style: solid;
  border-color: var(--border);
  border-radius: 2px;
  background-color: var(--background);
  box-sizing: border-box;
}

.thor-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent url(assets/expand_more.svg) no-repeat calc(100% - 1rem) center;
}

.thor-table {
  background: var(--background);
  min-width: 100%;
}

.thor-table tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.thor-table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid var(--background-shaded);
}

.thor-table th,
.thor-table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid var(--background-shaded);
}

.thor-label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: var(--secondary-text);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 2px;
  background: var(--main-brand);
}

.thor-loading {
  text-align: center;
}

@keyframes spinner-spin {
  0% { transform: rotate(0); }
  100% { transform: rotate(359deg); }
}

.thor-loading img {
  animation: 2s linear infinite spinner-spin, .4s ease-in spinner-delayed-fade-in;
  max-width: 7rem;
}

.results {
  overflow-x: scroll;
}

.results #resultImages img {
  max-height: 400px;
}

.results #booleanResult {
  line-height: 5em;
  text-align: center;
  font-size: 5em;
}

.thor-alert {
  background-color: var(--main-brand);
  color: var(--secondary-text);
  padding: .75rem 1.25rem;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.thor-modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  z-index: 5000;
  background-color: rgba(0,0,0,.5);
  display: none;
}

.thor-modal-overlay:target {
  display: flex;
}

.thor-modal {
  z-index: 99997;
  max-width: 900px;
  position: relative;
  flex: 1;
  border-radius: 2px;
  background-color: var(--background);
  overflow: hidden;
}

.thor-modal .close {
  position: absolute;
  top: 0;
  right: 0;
}

.thor-modal h2 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.thor-modal>div {
  padding: 2rem;
  padding-top: 0;
}

.thor-large-list {
  padding: 0;
}

.thor-large-list li {
  list-style: none;
}

.thor-large-list li div {
  border-left: 7px solid var(--main-brand);
  padding-left: 15px;
  height: 60px;
}

.thor-large-list li div.interactive {
  cursor: pointer;
}

.thor-large-list li div.interactive h3 {
  color: var(--main-brand);
}

.thor-large-list li div.interactive:hover h3 {
  text-decoration: underline;
  color: var(--main-brand-darkened);
}

.thor-large-list li div.interactive:hover {
  color: var(--main-brand-darkened);
  border-color: var(--main-brand-darkened);
}

.share-btn {
  position: absolute;
  z-index: 500;
  right: 24px;
  top: 87px;
}

.handle {
  background: var(--background-shaded);
  height: 25px;
  user-select: none;
  cursor: row-resize;
  border: 1px solid var(--border);
  text-align: center;
  margin: auto;
  margin-top: auto;
  width: 50px;
  margin-top: 5px;
  position: absolute;
  top: -32px;
  z-index: 500;
  left: calc(50% - 25px);
  line-height: 25px;
}

/* tour */

.shepherd-text {
  text-align: left !important;
}

.shepherd-element .shepherd-content footer .shepherd-buttons li .shepherd-button {
  background-color: var(--secondary-brand) !important;
  border-color: var(--secondary-brand) !important;
  border-radius: 2px !important;
}

.shepherd-element .shepherd-content footer .shepherd-buttons li .shepherd-button:hover {
  text-decoration: none !important;
  background-color: var(--secondary-brand-darkened) !important;
  border-color: var(--secondary-brand-darkened) !important;
}


/* UTILITIES */

.m-lr-small {
  margin-left: .5rem;
  margin-right: .5rem;
}

.m-tb-small {
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.m-l-small {
  margin-left: .5rem;
}

.m-b-small {
  margin-bottom: .5rem;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}
