.shepherd-text {
  text-align: left;
}

.shepherd-element .shepherd-content footer .shepherd-buttons li .shepherd-button {
  background-color: #008578;
  border-color: #008578;
  border-radius: 2px;
}

.shepherd-element .shepherd-content footer .shepherd-buttons li .shepherd-button:hover {
  text-decoration: none;
  background-color: #00786c;
  border-color: #00786c;
}
